<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    id="Insight_Web"
    version="3.0">

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <jsp-file>/login.jsp</jsp-file>
    </servlet>

    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>in.nikitapek.insightweb.servlet.IndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfigureServlet</servlet-name>
        <servlet-class>in.nikitapek.insightweb.servlet.ConfigureServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConnectServlet</servlet-name>
        <servlet-class>in.nikitapek.insightweb.servlet.ConnectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginFailedServlet</servlet-name>
        <servlet-class>in.nikitapek.insightweb.servlet.LoginFailedServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>in.nikitapek.insightweb.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsersServlet</servlet-name>
        <servlet-class>in.nikitapek.insightweb.servlet.UsersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SettingsServlet</servlet-name>
        <servlet-class>in.nikitapek.insightweb.servlet.SettingsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QueryServlet</servlet-name>
        <servlet-class>in.nikitapek.insightweb.servlet.QueryServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfigureServlet</servlet-name>
        <url-pattern>/configure</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConnectServlet</servlet-name>
        <url-pattern>/connect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginFailedServlet</servlet-name>
        <url-pattern>/login-failed</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsersServlet</servlet-name>
        <url-pattern>/users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SettingsServlet</servlet-name>
        <url-pattern>/settings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QueryServlet</servlet-name>
        <url-pattern>/query</url-pattern>
    </servlet-mapping>

    <security-role>
        <role-name>insight-admin</role-name>
    </security-role>

    <security-role>
        <role-name>insight-user</role-name>
    </security-role>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Requires authentication for the entire application</web-resource-name>
            <url-pattern>/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>

        <auth-constraint>
            <role-name>insight-admin</role-name>
            <role-name>insight-user</role-name>
        </auth-constraint>

        <user-data-constraint>
            <!-- transport-guarantee can be CONFIDENTIAL, INTEGRAL, or NONE -->
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Public</web-resource-name>
            <description>Matches a few special pages.</description>
            <url-pattern>/public/*</url-pattern>
        </web-resource-collection>
        <!-- No auth-constraint means everybody has access! -->
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Favicon</web-resource-name>
            <description>Makes the favicon a non-restricted resource.</description>
            <url-pattern>/favicon.ico</url-pattern>
        </web-resource-collection>
        <!-- No auth-constraint means everybody has access! -->
    </security-constraint>

    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/login.jsp</form-login-page>
            <form-error-page>/login-failed</form-error-page>
        </form-login-config>
    </login-config>

    <welcome-file-list>
        <welcome-file>index</welcome-file>
    </welcome-file-list>
</web-app>
