<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    id="Insight_Web"
    version="2.5">
    <display-name>Insight Web Administration Application</display-name>

    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <display-name>LoginServlet</display-name>
        <description>Login page for Insight Web Administration Application</description>
        <jsp-file>/login.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>LoginFailedServlet</servlet-name>
        <display-name>LoginFailedServlet</display-name>
        <description>Login failed page for Insight Web Administration Application</description>
        <jsp-file>/login-failed.jsp</jsp-file>
    </servlet>

    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>in.nikitapek.insightweb.IndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConnectServlet</servlet-name>
        <servlet-class>in.nikitapek.insightweb.ConnectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginFailedServlet</servlet-name>
        <servlet-class>in.nikitapek.insightweb.LoginFailedServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>in.nikitapek.insightweb.RegisterServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConnectServlet</servlet-name>
        <url-pattern>/connect</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ConfigureServlet</servlet-name>
        <url-pattern>/configure</url-pattern>
    </servlet-mapping>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Requires authentication for the entire application</web-resource-name>
            <url-pattern>/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>

        <auth-constraint>
            <role-name>insight-user</role-name>
        </auth-constraint>

        <user-data-constraint>
            <!-- transport-guarantee can be CONFIDENTIAL, INTEGRAL, or NONE -->
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Public</web-resource-name>
            <description>Matches a few special pages.</description>
            <url-pattern>/js/hash.js</url-pattern>
        </web-resource-collection>
        <!-- No auth-constraint means everybody has access! -->
    </security-constraint>

    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/login.jsp</form-login-page>
            <form-error-page>/login-failed.jsp</form-error-page>
        </form-login-config>
    </login-config>
</web-app>
